/* Kasper Müller */
:root {
    --primary-grey: #606060;
    --secondary-grey: #505050;
    --darker-grey: #303030;
    --primary-blue: #75a3d2;
    --secondary-blue: #4387cc;
    --warning: #d6b967;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}
html {
    position: relative;
    height: 100%;
    width: 100%;
}
body {
    position: relative;
    width: 100%;
    height: 100%;
}
#canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -99;
}
a {
    color: var(--primary-blue);
    transition: 0.15s ease-in;
}
a:hover {
    color: var(--secondary-blue);
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), var(--secondary-blue), rgba(0, 0, 0, 0));
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

warning {
    color: var(--warning);
}

.pagewrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1.5rem;
    z-index: 1;
}

.rowwrapper {
    width: 100%;
    position: relative;
    margin-bottom: 1.5rem;
}

.shadow {
    filter: drop-shadow(-0.5rem 0.75rem 0.5rem var(--darker-grey));
}

.vstripe {
    display: block;
    position: absolute;
    top: 1.5rem;
    left: calc(10% + 3.5rem);
    width: 2px;
    /* height: calc(90% - 5rem); */
    height: calc(100% - 3rem);;
    z-index: -1;
    background-color: var(--primary-blue);
    filter: drop-shadow(-2px 0px 3px var(--darker-grey));
}
.hstripe {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    width: 80%;
    height: 2px;
    background-color: var(--primary-blue);
    filter: drop-shadow(0 2px 3px var(--darker-grey));
}

.shadowbox {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    box-shadow: -0.5rem 0.75rem 0.5rem var(--darker-grey);
}

.logoshadowbox {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    width: 93%;
    height: 93%;
    border-radius: 50%;
    box-shadow: -0.5rem 0.75rem 0.5rem var(--darker-grey);
}

.twoitemwrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.iswleft {
    position: relative;
    flex: 1;
    margin-right: 2rem;
    max-width: 30%;
    min-width: 7rem;
}

.logo {
    width: 100%;
}

.icontent {
    position: relative;
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50%;
    border-radius: 50%;
    background-color: var(--primary-grey);
    border: 2px solid var(--primary-blue);
}
.iicon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: var(--primary-blue);
}
.ishadowbox {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -2;
    /* background-color: violet; */
    width: 50%;
    height: 100%;
    border-radius: 50%;
    box-shadow: -0.3rem 0.50rem 0.5rem var(--darker-grey);
}

.iswright {
    position: relative;
    flex: 5;
    background-color: var(--darker-grey);
    padding-bottom: 1.5rem;
    border: 2px solid var(--primary-blue);
    border-radius: 3rem;
    /* overflow: hidden; */
    padding-left:  1.5rem;
    padding-right: 1.5rem;
}
.isyespad {
    padding-top: 1.5rem;
}
.iswnopad {
    padding-bottom: 0;
}
.blocktitle {
    width: 100%;
    text-align: center;
    color: var(--white) !important;
    font-family: Verdana, Geneva, sans-serif;
}
.blockcontent {
    color: var(--white) !important;
    font-family: Verdana, Geneva, sans-serif;
}

.a16-9 {
    position: relative;
    width: calc(100% + 3rem);
    padding-top: calc(((100% + 3rem) / 100) * 56.25);
    /* background-color: violet; */
    border-radius: 3rem;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    overflow: hidden;
}
.youtube {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.wyoutube {
    margin: 0;
    padding-bottom: 0;
}
.wyoutube .blocktitle {
    position: absolute;
    top: 0;
    left: 0;
}

.footer {
    height: 2rem;
}
.footer .blockcontent {
    padding-top: 1rem;
    text-align: center;
}

.firstrow {
    margin-bottom: 3.5rem;
}
.lastrow {
    margin-top: 2rem;
}

.linkies {
    font-size: 4rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
}
.linkies a:hover{
    transform: scale(1.1);
    color: whitesmoke;
}

.examplemenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.examplebtn {
    background-color: var(--primary-blue);
    border: 2px solid var(--secondary-blue);
    padding: 0 0.1rem;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    transition: 0.15s ease-in;
}
.examplebtn.active {
    transform: translate(0.5rem);
    background-color: red !important;
}
/* .examplebtn {
    background-color: var(--primary-blue);
    border: 2px solid var(--secondary-blue);
    border-radius: 1rem;
    padding: 0 0.5rem;
    color: white;
    font-family: Verdana, Geneva, sans-serif;
    font-size: large;
    transition: 0.15s ease-in;
} */
.examplebtn:hover {
    background-color: whitesmoke;
    color: var(--primary-blue);
}

#samplecoding {
    display: flex;
}
.tab {
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}
.noHeight {
    max-height: 0px !important;
}

@media only screen and (min-width: 950px) {
    .vstripe {
        /* Calculated as follows: 
         * using linear fitting between logo width and page width (1st order polynomial)
         * then devide by 2 to get center. And add 10% page padding.
         * Yeah... Css only stuff
         */
        left: calc(10% + (100% * 0.133 - 14px) / 2);
    }
}

/* On small screens, adjust. */
@media only screen and (max-width: 600px) {
    .vstripe {
        left: 50%;
    }
    .hstripe {
        display: none;
    }
    .twoitemwrapper {
        flex-direction: column;
    }
    .witem {
        margin-bottom: 1rem;
        flex: 0;
    }
    .iswlogo {
        margin-right: 0rem;
    }
    .iswright {
        width: 100%;
    }
    .iswleft {
        margin-right: 0;
    }
    h2 {
        font-size: 1.25rem;
    }
    .rowwrapper {
        margin-bottom: 0;
    }
    .firstrow {
        margin-bottom: 2rem;
    }
}