/* Kasper Müller */
:root {
    --primary-grey: #606060;
    --secondary-grey: #505050;
    --darker-grey: #303030;
    --primary-blue: #75a3d2;

    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
}

body {
    width: 100%;
}

.pagewrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}

.installwrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.iswlogo {
    width: 20%;
}

.iswcode {
    background-color: var(--darker-grey);
    width: 60%;
    height: 5rem;
    border: 2px solid var(--primary-blue);
    border-radius: 3rem;
    overflow: hidden;
}

.codetitle {
    width: 100%;
    text-align: center;
    color: var(--white) !important;
    font-family: Verdana, Geneva, sans-serif;
}